/* Scss Document */

/* Variables ================================================= */

/* Primary Font Faminly */
$font-sans: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B', sans-serif;
$font-headlines: 'Tungsten A', 'Tungsten B', sans-serif;

/* Basic Font Sizes mixin */
@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

@mixin font($fontsize: 1.6, $lineheight: 1.6) {
  font-size: ($fontsize * 10) + px;
  font-size: $fontsize + rem;
  line-height:($lineheight * 10) + px;
  line-height:$lineheight + rem;
}

p.standard {
	@include font(1.6, 2.4)
}

/* Grid mixin */
@mixin grid($colls, $margin, $target) {
  width: ((($target - (($colls - 1) * $margin)) / $colls) / $target) * 100%;
  &:nth-child(n) {
    margin-right: (($margin / $target) * 100%);
  }
  &:nth-child(#{$colls}n) {
    margin-right: 0;
  }
}
.coll1 {
	width:100%;
}
.coll2 {
	@include grid(2, 40, 960);
}
.coll3 {
	@include grid(3, 40, 960);
}
.coll4 {
	@include grid(4, 40, 960);
}
.coll5 {
	@include grid(5, 40, 960);
}
.coll6 {
	@include grid(6, 40, 960);
}
.coll7 {
	@include grid(7, 40, 960);
}
.coll8 {
	@include grid(8, 40, 960);
}
.coll9 {
	@include grid(9, 40, 960);
}
.coll10 {
	@include grid(10, 40, 960);
}
.coll11 {
	@include grid(11, 40, 960);
}
.coll12 {
	@include grid(12, 40, 960);
}